<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="main.component.css">
</head>
<body>
  <div class="split-screen">
    <div class="left">
      <img src = "favicon.ico" class="logo-img">
      <h1>Pet Resort</h1>
      <h1 color = "light_gray">* * * * *</h1>
    </div>
    <div class="right">
      <div class="intro">
        <h1>Bem-vindo ao Pet resort: Hotel para Animais de Estimação.</h1>
        <p>Onde o Conforto e a Felicidade do Seu Pet São Nossa Prioridade!</p>
      </div>
      <img src="mainpage.jpg">
    </div>
  </div>
</body>
</html>
