<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toolbar</title>
</head>
<body>
  <mat-toolbar>
    <img src = "favicon.ico" class="toolbar-img clickable">
    <span>Pet Resort</span>
    <span class="spacer"></span>
    <ng-container>
      <button mat-fab extended>Login</button>
    </ng-container>
    <ng-container>
      <button mat-fab extended>Register</button>
    </ng-container>

  </mat-toolbar>
</body>
</html>



